h1,
h2,
h3,
h4,
h5,
h6,
p {
   
    font-size: 100%;
   
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif 'Mali', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

@media screen and (max-width: 992px) {
    body {
        font-size: 75%;
    }
}